@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Lobster&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
}

.highlighted-text {
    color: rgb(100, 197, 192);
    display: inline-block;
    border-top: 2px solid rgb(6, 175, 166);
    border-bottom: 2px solid rgb(6, 175, 166);
    padding: 10px;
    text-align: center;
}


.logo-img {
    max-width: 100px;
    height: auto;
    display: block; 
    margin: auto; 
    cursor: pointer;
}

/* navbar */

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Lobster', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    color: black;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(6,175,166);
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(6,175,166);
    font-weight: 700;
    border-radius: 60px;
    color: white;
}

.btn0:hover{
    background-color: rgb(4, 105, 100);;
}

.item img {
    width: 50%;
    height: 50%; 
    display: block;
    margin: 0 auto;
}


/*banner*/
/* .single-carousel{
    background-color: rgb(250, 204, 204);
} */
/*Product*/
.product{
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn{
    margin-bottom: 20px;
}

/*Feedback*/

.feedback{
    background-color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;

}

/*footer*/

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

.single-carousel img{
    width: 80%;
    height: 5%;
}